@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Delicious+Handrawn&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: DM sans;
}
body {
  background-color: rgb(12, 12, 12) !important;
}
.sidebar{
  width: 40vh !important;
  background-color: rgba(0, 0, 0, 1);
  padding: 24px;
  ;
}
.sidebar .logo img{
 width: 130px !important;
}

.sidebar .navigation ul{
  list-style: none !important;
  margin-top: 20px !important;
  padding-left: 0px;
}
.sidebar .navigation ul li{
  padding: 10px 0px !important;
}
.sidebar .navigation ul li a{
  color:rgba(255, 255, 255, 1) !important;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}
.sidebar .navigation ul li a img{
  padding-right: 15px;
}
.sidebar .navigation ul:hover,
.sidebar .navigation ul:active,
.sidebar .navigation ul:visited
{
  width: 200px;
  height: 50px;
  border-radius: 6px;
  background-color: #282828;
}
